{
  "extends": ["airbnb-typescript-prettier", "plugin:react/jsx-runtime"],
  "rules": {
    "@typescript-eslint/ban-ts-comment": "off",
    "no-console": "off"
  },
  "settings": {
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true
      }
    }
  }
}